### 1) Carregue o arquivo books.csv utilizando o pandas.

In [5]:
import pandas as pd
df = pd.read_csv("books.csv")
print(df)

      Identifier             Edition Statement      Place of Publication  \
0            206                           NaN                    London
1            216                           NaN  London; Virtue & Yorston
2            218                           NaN                    London
3            472                           NaN                    London
4            480  A new edition, revised, etc.                    London
...          ...                           ...                       ...
8282     4158088                           NaN                    London
8283     4158128                           NaN                     Derby
8284     4159563                           NaN                    London
8285     4159587                           NaN       Newcastle upon Tyne
8286     4160339                           NaN                    London

     Date of Publication                Publisher  \
0            1879 [1878]         S. Tinsley & Co.
1                   1868             Virtue & Co.
2                   1869    Bradbury, Evans & Co.
3                   1851            James Darling
4                   1857     Wertheim & Macintosh
...                  ...                      ...
8282                1838                      NaN
8283            1831, 32          M. Mozley & Son
8284           [1806]-22  T. Cadell and W. Davies
8285                1834         Mackenzie & Dent
8286             1834-43                      NaN

                                                  Title  \
0                     Walter Forbes. [A novel.] By A. A
1     All for Greed. [A novel. The dedication signed...
2     Love the Avenger. By the author of â€œAll for Gr...
3     Welsh Sketches, chiefly ecclesiastical, to the...
4     [The World in which I live, and my place in it...
...                                                 ...
8282  The Parochial History of Cornwall, founded on,...
8283  The History and Gazetteer of the County of Der...
8284  Magna Britannia; being a concise topographical...
8285  An historical, topographical and descriptive v...
8286  Collectanea Topographica et Genealogica. [Firs...

                                                 Author  \
0                                                 A. A.
1                                             A., A. A.
2                                             A., A. A.
3                                             A., E. S.
4                                             A., E. S.
...                                                 ...
8282                 GIDDY, afterwards GILBERT, Davies.
8283                         GLOVER, Stephen - of Derby
8284  LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...
8285                              Mackenzie, E. (Eneas)
8286                                                NaN

                                           Contributors  Corporate Author  \
0                                       FORBES, Walter.               NaN
1          BLAZE DE BURY, Marie Pauline Rose - Baroness               NaN
2          BLAZE DE BURY, Marie Pauline Rose - Baroness               NaN
3                           Appleyard, Ernest Silvanus.               NaN
4                                   BROOME, John Henry.               NaN
...                                                 ...               ...
8282  BOASE, Henry Samuel.|HALS, William.|LYSONS, Da...               NaN
8283                                     NOBLE, Thomas.               NaN
8284           GREGSON, Matthew.|LYSONS, Samuel - F.R.S               NaN
8285                               ROSS, M. - of Durham               NaN
8286            BANDINEL, Bulkeley.|Nichols, John Gough               NaN

      Corporate Contributors Former owner  Engraver Issuance type  \
0                        NaN          NaN       NaN   monographic
1                        NaN          NaN       NaN   monographic
2                        NaN          NaN       NaN   monographic
3                        NaN          NaN       NaN   monographic
4                        NaN          NaN       NaN   monographic
...                      ...          ...       ...           ...
8282                     NaN          NaN       NaN   monographic
8283                     NaN          NaN       NaN   monographic
8284                     NaN          NaN       NaN   monographic
8285                     NaN          NaN       NaN   monographic
8286                     NaN          NaN       NaN    continuing

                                             Flickr URL  \
0     http://www.flickr.com/photos/britishlibrary/ta...
1     http://www.flickr.com/photos/britishlibrary/ta...
2     http://www.flickr.com/photos/britishlibrary/ta...
3     http://www.flickr.com/photos/britishlibrary/ta...
4     http://www.flickr.com/photos/britishlibrary/ta...
...                                                 ...
8282  http://www.flickr.com/photos/britishlibrary/ta...
8283  http://www.flickr.com/photos/britishlibrary/ta...
8284  http://www.flickr.com/photos/britishlibrary/ta...
8285  http://www.flickr.com/photos/britishlibrary/ta...
8286  http://www.flickr.com/photos/britishlibrary/ta...

                                             Shelfmarks
0                     British Library HMNTS 12641.b.30.
1                     British Library HMNTS 12626.cc.2.
2                     British Library HMNTS 12625.dd.1.
3                   British Library HMNTS 10369.bbb.15.
4                      British Library HMNTS 9007.d.28.
...                                                 ...
8282  British Library HMNTS|British Library HMNTS 10...
8283  British Library HMNTS|British Library HMNTS 10...
8284  British Library HMNTS|British Library HMNTS 19...
8285  British Library HMNTS|British Library HMNTS 10...
8286  British Library HMNTS|British Library HMNTS 79...

[8287 rows x 15 columns]

2) Elimine as colunas 'Corporate Author', 'Corporate Contributors', 'Former owner' e 'Engraver'.

In [3]:
import pandas as pd
df = pd.read_csv("books.csv")

df= df.drop(columns=['Corporate Author', 'Corporate Contributors','Former owner','Engraver'], axis=1)
print(df)

      Identifier             Edition Statement      Place of Publication  \
0            206                           NaN                    London
1            216                           NaN  London; Virtue & Yorston
2            218                           NaN                    London
3            472                           NaN                    London
4            480  A new edition, revised, etc.                    London
...          ...                           ...                       ...
8282     4158088                           NaN                    London
8283     4158128                           NaN                     Derby
8284     4159563                           NaN                    London
8285     4159587                           NaN       Newcastle upon Tyne
8286     4160339                           NaN                    London

     Date of Publication                Publisher  \
0            1879 [1878]         S. Tinsley & Co.
1                   1868             Virtue & Co.
2                   1869    Bradbury, Evans & Co.
3                   1851            James Darling
4                   1857     Wertheim & Macintosh
...                  ...                      ...
8282                1838                      NaN
8283            1831, 32          M. Mozley & Son
8284           [1806]-22  T. Cadell and W. Davies
8285                1834         Mackenzie & Dent
8286             1834-43                      NaN

                                                  Title  \
0                     Walter Forbes. [A novel.] By A. A
1     All for Greed. [A novel. The dedication signed...
2     Love the Avenger. By the author of â€œAll for Gr...
3     Welsh Sketches, chiefly ecclesiastical, to the...
4     [The World in which I live, and my place in it...
...                                                 ...
8282  The Parochial History of Cornwall, founded on,...
8283  The History and Gazetteer of the County of Der...
8284  Magna Britannia; being a concise topographical...
8285  An historical, topographical and descriptive v...
8286  Collectanea Topographica et Genealogica. [Firs...

                                                 Author  \
0                                                 A. A.
1                                             A., A. A.
2                                             A., A. A.
3                                             A., E. S.
4                                             A., E. S.
...                                                 ...
8282                 GIDDY, afterwards GILBERT, Davies.
8283                         GLOVER, Stephen - of Derby
8284  LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...
8285                              Mackenzie, E. (Eneas)
8286                                                NaN

                                           Contributors Issuance type  \
0                                       FORBES, Walter.   monographic
1          BLAZE DE BURY, Marie Pauline Rose - Baroness   monographic
2          BLAZE DE BURY, Marie Pauline Rose - Baroness   monographic
3                           Appleyard, Ernest Silvanus.   monographic
4                                   BROOME, John Henry.   monographic
...                                                 ...           ...
8282  BOASE, Henry Samuel.|HALS, William.|LYSONS, Da...   monographic
8283                                     NOBLE, Thomas.   monographic
8284           GREGSON, Matthew.|LYSONS, Samuel - F.R.S   monographic
8285                               ROSS, M. - of Durham   monographic
8286            BANDINEL, Bulkeley.|Nichols, John Gough    continuing

                                             Flickr URL  \
0     http://www.flickr.com/photos/britishlibrary/ta...
1     http://www.flickr.com/photos/britishlibrary/ta...
2     http://www.flickr.com/photos/britishlibrary/ta...
3     http://www.flickr.com/photos/britishlibrary/ta...
4     http://www.flickr.com/photos/britishlibrary/ta...
...                                                 ...
8282  http://www.flickr.com/photos/britishlibrary/ta...
8283  http://www.flickr.com/photos/britishlibrary/ta...
8284  http://www.flickr.com/photos/britishlibrary/ta...
8285  http://www.flickr.com/photos/britishlibrary/ta...
8286  http://www.flickr.com/photos/britishlibrary/ta...

                                             Shelfmarks
0                     British Library HMNTS 12641.b.30.
1                     British Library HMNTS 12626.cc.2.
2                     British Library HMNTS 12625.dd.1.
3                   British Library HMNTS 10369.bbb.15.
4                      British Library HMNTS 9007.d.28.
...                                                 ...
8282  British Library HMNTS|British Library HMNTS 10...
8283  British Library HMNTS|British Library HMNTS 10...
8284  British Library HMNTS|British Library HMNTS 19...
8285  British Library HMNTS|British Library HMNTS 10...
8286  British Library HMNTS|British Library HMNTS 79...

[8287 rows x 11 columns]

### 3) Verifique se a coluna 'Identifier' Ã© Ãºnica e, em caso afirmativo, atribua esta coluna como Ã­ndice do conjunto de dados.

In [55]:
import pandas as pd
df = pd.read_csv("books.csv")
df.duplicated(['Identifier']).any()
df.index = df['Identifier']
df = df.drop('Identifier', axis=1)
print(df)

                       Edition Statement      Place of Publication  \
Identifier
206                                  NaN                    London
216                                  NaN  London; Virtue & Yorston
218                                  NaN                    London
472                                  NaN                    London
480         A new edition, revised, etc.                    London
...                                  ...                       ...
4158088                              NaN                    London
4158128                              NaN                     Derby
4159563                              NaN                    London
4159587                              NaN       Newcastle upon Tyne
4160339                              NaN                    London

           Date of Publication                Publisher  \
Identifier
206                1879 [1878]         S. Tinsley & Co.
216                       1868             Virtue & Co.
218                       1869    Bradbury, Evans & Co.
472                       1851            James Darling
480                       1857     Wertheim & Macintosh
...                        ...                      ...
4158088                   1838                      NaN
4158128               1831, 32          M. Mozley & Son
4159563              [1806]-22  T. Cadell and W. Davies
4159587                   1834         Mackenzie & Dent
4160339                1834-43                      NaN

                                                        Title  \
Identifier
206                         Walter Forbes. [A novel.] By A. A
216         All for Greed. [A novel. The dedication signed...
218         Love the Avenger. By the author of â€œAll for Gr...
472         Welsh Sketches, chiefly ecclesiastical, to the...
480         [The World in which I live, and my place in it...
...                                                       ...
4158088     The Parochial History of Cornwall, founded on,...
4158128     The History and Gazetteer of the County of Der...
4159563     Magna Britannia; being a concise topographical...
4159587     An historical, topographical and descriptive v...
4160339     Collectanea Topographica et Genealogica. [Firs...

                                                       Author  \
Identifier
206                                                     A. A.
216                                                 A., A. A.
218                                                 A., A. A.
472                                                 A., E. S.
480                                                 A., E. S.
...                                                       ...
4158088                    GIDDY, afterwards GILBERT, Davies.
4158128                            GLOVER, Stephen - of Derby
4159563     LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...
4159587                                 Mackenzie, E. (Eneas)
4160339                                                   NaN

                                                 Contributors  \
Identifier
206                                           FORBES, Walter.
216              BLAZE DE BURY, Marie Pauline Rose - Baroness
218              BLAZE DE BURY, Marie Pauline Rose - Baroness
472                               Appleyard, Ernest Silvanus.
480                                       BROOME, John Henry.
...                                                       ...
4158088     BOASE, Henry Samuel.|HALS, William.|LYSONS, Da...
4158128                                        NOBLE, Thomas.
4159563              GREGSON, Matthew.|LYSONS, Samuel - F.R.S
4159587                                  ROSS, M. - of Durham
4160339               BANDINEL, Bulkeley.|Nichols, John Gough

            Corporate Author  Corporate Contributors Former owner  Engraver  \
Identifier
206                      NaN                     NaN          NaN       NaN
216                      NaN                     NaN          NaN       NaN
218                      NaN                     NaN          NaN       NaN
472                      NaN                     NaN          NaN       NaN
480                      NaN                     NaN          NaN       NaN
...                      ...                     ...          ...       ...
4158088                  NaN                     NaN          NaN       NaN
4158128                  NaN                     NaN          NaN       NaN
4159563                  NaN                     NaN          NaN       NaN
4159587                  NaN                     NaN          NaN       NaN
4160339                  NaN                     NaN          NaN       NaN

           Issuance type                                         Flickr URL  \
Identifier
206          monographic  http://www.flickr.com/photos/britishlibrary/ta...
216          monographic  http://www.flickr.com/photos/britishlibrary/ta...
218          monographic  http://www.flickr.com/photos/britishlibrary/ta...
472          monographic  http://www.flickr.com/photos/britishlibrary/ta...
480          monographic  http://www.flickr.com/photos/britishlibrary/ta...
...                  ...                                                ...
4158088      monographic  http://www.flickr.com/photos/britishlibrary/ta...
4158128      monographic  http://www.flickr.com/photos/britishlibrary/ta...
4159563      monographic  http://www.flickr.com/photos/britishlibrary/ta...
4159587      monographic  http://www.flickr.com/photos/britishlibrary/ta...
4160339       continuing  http://www.flickr.com/photos/britishlibrary/ta...

                                                   Shelfmarks
Identifier
206                         British Library HMNTS 12641.b.30.
216                         British Library HMNTS 12626.cc.2.
218                         British Library HMNTS 12625.dd.1.
472                       British Library HMNTS 10369.bbb.15.
480                          British Library HMNTS 9007.d.28.
...                                                       ...
4158088     British Library HMNTS|British Library HMNTS 10...
4158128     British Library HMNTS|British Library HMNTS 10...
4159563     British Library HMNTS|British Library HMNTS 19...
4159587     British Library HMNTS|British Library HMNTS 10...
4160339     British Library HMNTS|British Library HMNTS 79...

[8287 rows x 14 columns]

### 4) Extrair a data de publicaÃ§Ã£o de modo que somente o ano com quatro posiÃ§Ãµes seja recuperado. Armazene o resultado em uma variÃ¡vel.

In [51]:
import pandas
data = pandas.read_csv("books.csv", usecols=[3])

date = data
print(date)

     Date of Publication
0            1879 [1878]
1                   1868
2                   1869
3                   1851
4                   1857
...                  ...
8282                1838
8283            1831, 32
8284           [1806]-22
8285                1834
8286             1834-43

[8287 rows x 1 columns]

### 5) Inclua a nova coluna (armazenada no exercÃ­cio anterior) no conjunto de dados e, apÃ³s isso, elimine a coluna 'Date of Publication'.

In [43]:
import pandas
data = pandas.read_csv("books.csv", usecols=[3])
date = data

data = pandas.read_csv("books.csv")
data["Date"]=date
data = data.drop('Date of Publication', axis=1)
print(data)

      Identifier             Edition Statement      Place of Publication  \
0            206                           NaN                    London
1            216                           NaN  London; Virtue & Yorston
2            218                           NaN                    London
3            472                           NaN                    London
4            480  A new edition, revised, etc.                    London
...          ...                           ...                       ...
8282     4158088                           NaN                    London
8283     4158128                           NaN                     Derby
8284     4159563                           NaN                    London
8285     4159587                           NaN       Newcastle upon Tyne
8286     4160339                           NaN                    London

                    Publisher  \
0            S. Tinsley & Co.
1                Virtue & Co.
2       Bradbury, Evans & Co.
3               James Darling
4        Wertheim & Macintosh
...                       ...
8282                      NaN
8283          M. Mozley & Son
8284  T. Cadell and W. Davies
8285         Mackenzie & Dent
8286                      NaN

                                                  Title  \
0                     Walter Forbes. [A novel.] By A. A
1     All for Greed. [A novel. The dedication signed...
2     Love the Avenger. By the author of â€œAll for Gr...
3     Welsh Sketches, chiefly ecclesiastical, to the...
4     [The World in which I live, and my place in it...
...                                                 ...
8282  The Parochial History of Cornwall, founded on,...
8283  The History and Gazetteer of the County of Der...
8284  Magna Britannia; being a concise topographical...
8285  An historical, topographical and descriptive v...
8286  Collectanea Topographica et Genealogica. [Firs...

                                                 Author  \
0                                                 A. A.
1                                             A., A. A.
2                                             A., A. A.
3                                             A., E. S.
4                                             A., E. S.
...                                                 ...
8282                 GIDDY, afterwards GILBERT, Davies.
8283                         GLOVER, Stephen - of Derby
8284  LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...
8285                              Mackenzie, E. (Eneas)
8286                                                NaN

                                           Contributors  Corporate Author  \
0                                       FORBES, Walter.               NaN
1          BLAZE DE BURY, Marie Pauline Rose - Baroness               NaN
2          BLAZE DE BURY, Marie Pauline Rose - Baroness               NaN
3                           Appleyard, Ernest Silvanus.               NaN
4                                   BROOME, John Henry.               NaN
...                                                 ...               ...
8282  BOASE, Henry Samuel.|HALS, William.|LYSONS, Da...               NaN
8283                                     NOBLE, Thomas.               NaN
8284           GREGSON, Matthew.|LYSONS, Samuel - F.R.S               NaN
8285                               ROSS, M. - of Durham               NaN
8286            BANDINEL, Bulkeley.|Nichols, John Gough               NaN

      Corporate Contributors Former owner  Engraver Issuance type  \
0                        NaN          NaN       NaN   monographic
1                        NaN          NaN       NaN   monographic
2                        NaN          NaN       NaN   monographic
3                        NaN          NaN       NaN   monographic
4                        NaN          NaN       NaN   monographic
...                      ...          ...       ...           ...
8282                     NaN          NaN       NaN   monographic
8283                     NaN          NaN       NaN   monographic
8284                     NaN          NaN       NaN   monographic
8285                     NaN          NaN       NaN   monographic
8286                     NaN          NaN       NaN    continuing

                                             Flickr URL  \
0     http://www.flickr.com/photos/britishlibrary/ta...
1     http://www.flickr.com/photos/britishlibrary/ta...
2     http://www.flickr.com/photos/britishlibrary/ta...
3     http://www.flickr.com/photos/britishlibrary/ta...
4     http://www.flickr.com/photos/britishlibrary/ta...
...                                                 ...
8282  http://www.flickr.com/photos/britishlibrary/ta...
8283  http://www.flickr.com/photos/britishlibrary/ta...
8284  http://www.flickr.com/photos/britishlibrary/ta...
8285  http://www.flickr.com/photos/britishlibrary/ta...
8286  http://www.flickr.com/photos/britishlibrary/ta...

                                             Shelfmarks         Date
0                     British Library HMNTS 12641.b.30.  1879 [1878]
1                     British Library HMNTS 12626.cc.2.         1868
2                     British Library HMNTS 12625.dd.1.         1869
3                   British Library HMNTS 10369.bbb.15.         1851
4                      British Library HMNTS 9007.d.28.         1857
...                                                 ...          ...
8282  British Library HMNTS|British Library HMNTS 10...         1838
8283  British Library HMNTS|British Library HMNTS 10...     1831, 32
8284  British Library HMNTS|British Library HMNTS 19...    [1806]-22
8285  British Library HMNTS|British Library HMNTS 10...         1834
8286  British Library HMNTS|British Library HMNTS 79...      1834-43

[8287 rows x 15 columns]

### 6) Salve o resultado do processamento em um arquivo csv.

In [10]:
import pandas
data = pandas.read_csv("books.csv", usecols=[3])
date = data

data = pandas.read_csv("books.csv")
data["Date"]=date
data = data.drop('Date of Publication', axis=1)
print(data)
data.to_csv("./testeappend.csv", sep=',')

### 7) Realize uma contagem agrupando pela coluna 'New Date of Publication'. SugestÃ£o: Pesquise o mÃ©todo groupby().

In [50]:
#  Date = New Date of Publication
import pandas
data = pandas.read_csv("testeappend.csv")
data.groupby('Date').count()

,Unnamed: 0,Identifier,Edition Statement,Place of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
Date,,,,,,,,,,,,,,,
112. G. & W. B. Whittaker,1,1,0,1,1,1,1,1,0,0,0,0,1,1,1
1510?],1,1,0,1,1,1,0,1,0,0,0,0,1,1,1
1540,1,1,0,1,1,1,1,1,0,0,0,0,1,1,1
1570 [reprinted 1844.],1,1,0,1,0,1,0,1,0,0,0,0,1,1,1
1592,1,1,0,1,1,1,1,1,0,0,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
[c. 1825.],1,1,0,1,0,1,0,1,0,0,0,0,1,1,1
[c. 1850],1,1,0,1,1,1,1,1,0,0,0,0,1,1,1
[c. 1855],1,1,0,1,1,1,1,1,0,0,0,0,1,1,1
[printed1890],1,1,0,1,1,1,1,1,0,0,0,0,1,1,1
c.1825],1,1,0,1,1,1,0,1,0,0,0,0,1,1,1

### 8) Considerando o conteÃºdo da Unidade 3 visto atÃ© o momento elabore 5 (cinco) exemplos que envolvam limpeza e preparaÃ§Ã£o de dados.

In [ ]:
#exemplo 1
import pandas
data = pandas.read_csv("books.csv", usecols=[3])
date = data

data = pandas.read_csv("books.csv")
data["Date"]=date
data = data.drop('Date of Publication', axis=1)
print(data)
data.to_csv("./testeappend.csv", sep=',')

#exemplo 2
print(pd.read_csv('file.csv').query('Age >= 21'))

#exemplo 3
def load_source(filename):
    with open(filename, "r") as f:
        reader = csv.reader(f, delimiter=";")
        return list(reader)

sourcecsv = load_source("data1.csv")

for row in sourcecsv:
    if row[12] == "00GG":
        print(row)

#exemplo 4
import pandas as pd

data = pd.read_csv('listgames.csv')
# Filter the data accordingly.
data = data[data['Games Owned'] > 20]
data = data[data['OS'] == 'Mac']

#exemplo 5
import csv

with open('games.csv', 'rb') as csvfile:
    # handle header line, save it for writing to output file
    header = next(csvfile).strip("\n").split(",")
    reader = csv.reader(csvfile)
    results = filter(lambda row: row[1] != 'Mac' and int(row[2]) > 20, reader)

with open('output.csv', 'wb') as outfile:
    writer = csv.writer(outfile)
    writer.writerow(header)
    for result in results:
        writer.writerow(result)